Library
UserSettings/EditorUserSettings.asset
Assembly-CSharp.csproj
.vsconfig
.vs
Logs
Temp
*.log
UserSettings/Layouts/default-2021.dwlt
ProjectSettings/ProjectVersion.txt
*.cache
obj
obj/Debug
.vs/RetroCrash_2/v17/.suo
.vs/RetroCrash_2/v17/.suo
*.cache
*.cache
Packages/manifest.json
Packages/packages-lock.json
